
<div class="card mt-2">

    <div class="card-header">
        <h3>Choose wisely...</h3>
    </div>

    <div class="card-body" id="admin-dashboard">
        <ul class="list-group list-group-flush">
        <li class="list-group-item"><a id="admin-dashboard-users" href="#!/users-list">Users</a></li>
        <li class="list-group-item"><a id="admin-dashboard-apartments" href="#!/apartment-list">Apartments</a></li>
        </ul>
    </div>
</div>
