
<div class="card mt-2">
<div class="card-body">

<form>

    <div class="form-group row">
        <label for="user-email" class="col-sm-1 col-form-label">Email</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="user-email" ng-model="$ctrl.invite_email">
        </div>
        <div class="col-sm-2">
            <button type="button" name="user-invite-button" class="btn btn-warning" ng-click="$ctrl.inviteUser()">Invite</button>
        </div>
    </div>

    <hr>

    <div class="form-group row">
        <div class="col-sm-2">
            <button type="button" name="user-add-button" class="btn btn-success" ng-click="$ctrl.newUser()">Create New USer</button>
        </div>
    </div>

    <hr>

</form>


<p>Total number of users: {{$ctrl.users.length}}</p>

<div class="table-responsive">
<table class="table" id="admin-users-table">
    <thead class="thead-light">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Is Realtor</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr class="template-row" ng-repeat="user in $ctrl.users">
        <th scope="row">{{$index + 1}}</th>
        <!-- <td><a href ng-click="$ctrl.showUser(user.id)">{{user.username}}</a></td> -->
        <td><a ng-href="#!/user-detail/{{user.id}}">{{user.username}}</a></td>
        <td>{{user.email}}</td>
        <td>{{user.realtor}}</td>
        <td><a href ng-click="$ctrl.deactivateUser(user.id)">Delete</a></td>
    </tr>
    </tbody>
</table>
</div>

</div>
</div> <!-- card -->
