
<div class="card mt-2">

<div class="card-header">
    <h3>User Details</h3>
</div>

<div class="card-body">

<form>
    <input type="hidden" id="user-id" ng-model="$ctrl.user.id">

    <div class="form-group row">
        <label for="user-name" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="user-name" ng-model="$ctrl.user.username">
        </div>
    </div>

    <div class="form-group row">
        <label for="user-email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="user-email" ng-model="$ctrl.user.email">
        </div>
    </div>

    <div class="form-group row">
        <label for="user-new-password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="user-new-password" ng-model="$ctrl.new_user_password">
        </div>
    </div>

    <div class="form-group row">
        <label for="user-first_name" class="col-sm-2 col-form-label">First name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="user-first_name" ng-model="$ctrl.user.first_name">
        </div>
    </div>

    <div class="form-group row">
        <label for="user-last_name" class="col-sm-2 col-form-label">Last name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="user-last_name" ng-model="$ctrl.user.last_name">
        </div>
    </div>

    <div class="form-group row">
        <label for="user-rented" class="col-sm-2 col-form-label">Group</label>
        <div class="col-sm-10">
            <select class="custom-select" ng-model="$ctrl.user_group" id="user-rented">
                <option value="client">Client</option>
                <option value="realtor">Realtor</option>
            </select>
        </div>
    </div>

    <button ng-if="! $ctrl.update_mode" type="button" name="user-add-button" class="btn btn-success mb-2 mr-2" ng-click="$ctrl.addUser()">Add</button>
    <button ng-if="$ctrl.update_mode" type="button" name="user-update-button" class="btn btn-warning mb-2 mr-2" ng-click="$ctrl.updateUser()">Update</button>

</form>

</div>
</div>
