<!-- Modal -->
<div class="modal fade" id="system-modal" tabindex="-1" role="dialog" aria-labelledby="systemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="systemModalLabel">System message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" id="message">
        What in the blazes ... !?!
    </div>
    <div class="modal-footer">
        <button type="button" id="modal-dismiss-button" class="btn btn-success" data-dismiss="modal">OK</button>
    </div>
    </div>
    </div>
</div>
