
<div class="card mt-2 mx-auto" style="max-width: 400px;">

    <div class="card-body">
    
        <h5 class="card-title">Site Registration Successful
        </h5>

        <span ng-if="$ctrl.confirmation_required">
        <p>You will receive an email shortly, with an activation link for your account.</p>
        <p>You must activate your account by clicking the link in order to be able to log in.</p>
        </span>

        <a href="#!/dash" class="btn btn-primary">Nice!</a>
    </div> <!-- card-body -->

</div> <!-- card -->
