
<div class="card mt-5 mx-auto" style="max-width: 400px;">

    <svg class="bd-placeholder-img card-img-top" width="100%" height="72" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
    <rect width="100%" height="100%" fill="#696969">
    </rect>
    </svg>
    
    <div class="card-body">
    
        <h5 class="card-title">Apartment Rental Management
        <br>
        <small class="text-muted">(demo app)</small>
        </h5>
    
    <form id="login-form">
    
        <div class="form-group">
            <label for="login-identity">Email address</label>
            <input type="email" ng-model="$ctrl.loginIdentity" id="login-identity" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
    
        <div class="form-group">
            <label for="login-password">Password</label>
            <input type="password" ng-model="$ctrl.loginPassword" id="login-password" class="form-control" placeholder="Password">
        </div>
    
        <div class="d-none form-group form-check">
            <input type="checkbox" id="login-remember" class="form-check-input">
            <label class="form-check-label" for="login-remember">Remember me</label>
        </div>

        <button type="button" name="login-button" class="btn btn-warning" ng-click="$ctrl.doLogin()">Login <span class="fas fa-arrow-right"></span></button>
    
        <div class="form-group">
            <a class="small" id="registration-link" href="#!/register">
                Don't have a login? Click here to register!
            </a>
        </div>

        <hr>

        <div class="form-group">
            <a type="button" class="btn btn-secondary btn-block" id="login-github" href="#!/oauth2/github">
                <span class="fab fa-github fa-2x align-middle" aria-hidden="true"></span>
                <span class=" align-middle">Sign in with Github</span>
            </a>
        </div>
    
        <div class="form-group">
            <a type="button" class="btn btn-secondary btn-block" id="login-instagram" href="#!/oauth2/instagram">
                <span class="fab fa-instagram fa-2x align-middle" aria-hidden="true"></span>
                <span class=" align-middle">Sign in with Instagram</span>
            </a>
        </div>
    
        <div class="form-group">
            <a type="button" class="btn btn-secondary btn-block" id="login-google" href="#!/oauth2/google">
                <span class="fab fa-google fa-2x align-middle" aria-hidden="true"></span>
                <span class=" align-middle">Sign in with Google</span>
            </a>
        </div>
    
    </form>

    <hr>
    <span class="small text-muted">
        Copyright <a href="https://www.gnu.org/licenses/gpl-3.0.txt" target="_blank">GPL-3.0-or-later</a> &copy;
        2019 Ravendyne Inc
    </span>

    </div> <!-- card-body -->
    
</div> <!-- card -->
