
<arm-map mode="many" poi-list="apartmentLatLonList"></arm-map>

<div class="card mt-2">
<div class="card-body">

<div>
    <button id="filter-toggle-button" class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseFilter">
    Filter apartments
    </button>
</div>
<div class="collapse" id="collapseFilter">
    <arm-apartment-filter apartment-filter="apartmentsFilter" on-apply-filter="$ctrl.onApplyFilter"></arm-apartment-filter>
</div>

<hr>

<span>Total number of apartments: {{$ctrl.apartments.length}}</span>
<button ng-if="! $root.user_data.is_client" type="button" name="apartment-add-button" class="btn btn-sm btn-success mb-2 ml-2" ng-click="$ctrl.newApartment()">
    <i class="fas fa-plus"></i>
    Add apartment
</button>

<div class="table-responsive">
<table class="table" id="client-apartments-table">
    <thead class="thead-light">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Size</th>
        <th scope="col">Rooms</th>
        <th scope="col" ng-if="! $root.user_data.is_client">Rented</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr class="template-row" ng-repeat="apartment in $ctrl.apartments">
        <th scope="row">{{$index + 1}}</th>
        <td><a href id="apartment-detail-button" ng-click="$ctrl.showApartment(apartment.id)">{{apartment.name}}</a></td>
        <td>{{apartment.price_per_month}}</td>
        <td>{{apartment.floor_area_size}}</td>
        <td>{{apartment.number_of_rooms}}</td>
        <td ng-if="! $root.user_data.is_client">{{apartment.is_rented == '1' ? 'Rented' : 'Available'}}</td>
        <td>
            <span ng-if="$root.user_data.is_client" ng-switch="apartment.is_rented">
                <span ng-switch-when="1">Rented</span>
                <a href id="apartment-rent-button" ng-switch-default ng-click="$ctrl.rentApartment(apartment.id)">Rent me!</a>
            </span>
            <span ng-if="! $root.user_data.is_client">
                <a href id="apartment-delete-button" ng-click="$ctrl.deleteApartment(apartment.id)">Delete</a>
            </span>
        </td>
        </tr>
    </tbody>
</table>
</div>

</div>
</div> <!-- card -->
