
<arm-map mode="single" single-poi="apartmentLatLon" on-map-click="$ctrl.updateLocationFromMap"></arm-map>

<div class="card mt-2">

<div class="card-header">
    <h3>Apartment Details</h3>
</div>

<div class="card-body">

<form id="admin-apartment-form">
    <input type="hidden" id="apartment-id" ng-model="$ctrl.apartment.id">

    <div class="form-group row">
        <label for="apartment-name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="apartment-name" ng-model="$ctrl.apartment.name">
        </div>
    </div>

    <div class="form-group row">
        <label for="apartment-description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="apartment-description" ng-model="$ctrl.apartment.description">
        </div>
    </div>

    <div class="form-group row">
        <label for="apartment-size" class="col-sm-2 col-form-label">Size</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="apartment-size" ng-model="$ctrl.apartment.floor_area_size">
        </div>
    </div>

    <div class="form-group row">
        <label for="apartment-price" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="apartment-price" ng-model="$ctrl.apartment.price_per_month">
        </div>
    </div>

    <div class="form-group row">
        <label for="apartment-rooms" class="col-sm-2 col-form-label"># of Rooms</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="apartment-rooms" ng-model="$ctrl.apartment.number_of_rooms">
        </div>
    </div>

    <div class="form-group row">
        <label for="apartment-address" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="apartment-address" ng-model="$ctrl.apartment.address">
        </div>
    </div>

    <div class="form-group row">
        <label for="apartment-lat" class="col-sm-2 col-form-label">Latitude</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="apartment-lat" ng-model="$ctrl.apartment.geolocation_lat">
        </div>
    </div>

    <div class="form-group row">
        <label for="apartment-lon" class="col-sm-2 col-form-label">Longitude</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="apartment-lon" ng-model="$ctrl.apartment.geolocation_long">
        </div>
    </div>

    <div class="form-group row">
        <label for="apartment-added" class="col-sm-2 col-form-label">Date Added</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="apartment-added" ng-model="$ctrl.apartment.date_added">
        </div>
    </div>

    <div class="form-group row" ng-show="$root.user_data.is_admin">
        <label for="apartment-realtor" class="col-sm-2 col-form-label">Realtor</label>
        <div class="col-sm-10">
            <select id="apartment-realtor" ng-options="realtor as realtor.email for realtor in $ctrl.all_realtors track by realtor.id" ng-model="$ctrl.apartment.associated_realtor"></select>
        </div>
    </div>

    <div class="form-group row">
        <label for="apartment-rented" class="col-sm-2 col-form-label">Is Rented</label>
        <div class="col-sm-10">
            <select class="custom-select" ng-model="$ctrl.apartment.is_rented" id="apartment-rented">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>
    </div>

    <button ng-if="! $ctrl.update_mode" type="button" name="apartment-add-button" class="btn btn-success mb-2 mr-2" ng-click="$ctrl.addApartment()">Add</button>
    <button ng-if="$ctrl.update_mode" type="button" name="apartment-update-button" class="btn btn-warning mb-2 mr-2" ng-click="$ctrl.updateApartment()">Update</button>
    <button type="reset" name="apartment-reset-button" class="btn btn-secondary mb-2">Reset</button>

</form>

</div>
</div>
