
<div class="card mt-2">

<div class="card-header">
    <h3>Filter Apartments</h3>
</div>

<div class="card-body">

<form id="client-filter-form">

    <div class="form-row">
        <div class="col-md-6">
        <div class="form-group row">
            <label for="filter-size-from" class="col-sm-3 col-form-label">Size from</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="filter-size-from" ng-model="$ctrl.apartmentFilter.size_from">
            </div>
        </div>
        </div>

        <div class="col-md-6">
        <div class="form-group row">
            <label for="filter-size-to" class="col-sm-3 col-form-label">Size to</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="filter-size-to" ng-model="$ctrl.apartmentFilter.size_to">
            </div>
        </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6">
        <div class="form-group row">
            <label for="filter-price-from" class="col-sm-3 col-form-label">Price from</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="filter-price-from" ng-model="$ctrl.apartmentFilter.price_from">
            </div>
        </div>
        </div>

        <div class="col-md-6">
        <div class="form-group row">
            <label for="filter-price-to" class="col-sm-3 col-form-label">Price to</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="filter-price-to" ng-model="$ctrl.apartmentFilter.price_to">
            </div>
        </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6">
        <div class="form-group row">
            <label for="filter-rooms-from" class="col-sm-3 col-form-label">Rooms From</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" id="filter-rooms-from" ng-model="$ctrl.apartmentFilter.rooms_from">
            </div>
        </div>
        </div>

        <div class="col-md-6">
        <div class="form-group row">
            <label for="filter-rooms-to" class="col-sm-3 col-form-label">Rooms to</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" id="filter-rooms-to" ng-model="$ctrl.apartmentFilter.rooms_to">
            </div>
        </div>
        </div>
    </div>

    <div class="form-row">
    <button type="button" name="apartment-filter-button" class="btn btn-warning mb-2 mr-2" ng-click="$ctrl.doFilter()">Filter</button>
    <button type="reset" name="filter-reset-button" class="btn btn-secondary mb-2">Reset</button>
    </div>

</form>

</div>
</div>
