
<arm-map mode="single" single-poi="apartmentLatLon"></arm-map>

<div class="card mt-2">

    <svg class="bd-placeholder-img card-img-top" width="100%" height="72" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
        <rect width="100%" height="100%" fill="#696969">
        </rect>
    </svg>

    <div class="card-header">
        <h3>{{$ctrl.apartment.name}}</h3>
    </div>

    <div class="card-body">
        <p class="card-text">{{$ctrl.apartment.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">Size: {{$ctrl.apartment.floor_area_size}}</li>
    <li class="list-group-item">Number of rooms: {{$ctrl.apartment.number_of_rooms}}</li>
    <li class="list-group-item">Price per month: {{$ctrl.apartment.price_per_month}}</li>
    <li class="list-group-item">Location: {{$ctrl.apartment.address}}</li>
    </ul>
    <div class="card-body">
    <a href="#" class="card-link">Want to know more?...</a>
    </div>
</div>
