/* Copyright 2019 Ravendyne Inc. */
/* SPDX-License-Identifier: GPL-3.0-or-later */

/******************************************
 * LOGIN
 ******************************************/

html.login { 
    background: url(../img/bgnd-01-a.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
html.login > body {
    background: transparent;
}

/******************************************
 * MAP
 ******************************************/

 .arm-map {
    width: 100%;
    height: 300px;
}


/******************************************
 * AVATAR upload <input type="file">
 ******************************************/
 .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
	outline: 1px dotted #000;
}
