<div class="card mt-2" id="top-card">
<div class="card-body">
    <h5 class="card-title"><a href="#!/dash">Apartment Rental Management</a> <span class="d-none" id="role-title">[client]</span></h5>

    <div class="row">

    <div class="col-3">
        <arm-user-info></arm-user-info>
    </div>

    <div class="col-7">
        &nbsp;
    </div>

    <div class="col-2">
        <button type="button" name="logout-button" class="btn btn-warning float-right" ng-click="$ctrl.doLogout()">Logout <span class="fa fa-sign-out-alt"></span></button>
    </div>

    </div>

</div>
</div>
