<div class="card" style="max-width: 240px;">
<div class="row no-gutters">
    <div class="col-md-2">
        <input type="file" name="file" id="file" class="inputfile" onchange="angular.element(this).scope().uploadPhoto(this.files)"/>
        <label for="file">
        <img ng-src="{{$root.user_data.picture}}" class="card-img" alt="avatar" style="width: 40px;">
        </label>
    </div>
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-9">
        <div class="card-body" style="padding: 0px;">
        <p class="card-text">
            <small class="text-muted">
            {{$root.user_data.username}}
            </small>
        </p>
        </div>
    </div>
</div>
</div>
